
@{ 
    ViewBag.Title = "IS413 - Ian Cole";
}


<body>
    <img width="500px" src="~/images/IMG_20210120_101901498.jpg" />
    <p style="font-size:12px"><i>One of my hobbies is video games</i></p>
    <p><b>What I hope to get out of this class </b><br /> The things I want to get out of this class include understanding enterprise development, learning a new language, and becoming familiar in using ASP.Net. I want to be able to understand how development works on a large scale so that if I start working in a large company, I can be confident while developing there. I also want to learn a strongly typed language, which we will be doing in this class by using C#. Finally, this class will help me become familiar with ASP.net and using the MVC development model, which will be important to learn as these tools are often used for development.</p>
    <p>My top 3 jobs</p>
    <ol>
        <li>Business Analyst</li>
        <li>Data Analyst</li>
        <li>Security Analyst</li>
    </ol>
    <h2> Grade calculator</h2>
    <p> Use this webpage to calculate your grade in IS413. Just put your grades in and we will do the rest.</p>


</body>

